.project-heading{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}


.project-container{
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding-bottom: 3rem;
}


.project-card{
    background: #1a1919;
    padding: 3rem 3rem;
    margin: 3rem 3rem;
   
}

.project-card img{
    width: 100%;
    
}

.project-title{
    color: rgb(255, 254, 254);
    text-align: center;
    padding: 1rem 0;
}

project-details p{
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: justify;
}

.project-btn{
    display: flex;
    justify-content: center;
    
    
}

.project-btn .btn{
    padding: 0.5rem 1rem;;
}



.card-btn {
    background: #5d19c3;
    border: 0.5px solid white;
    padding: 10px ;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    margin: 2.5rem;
    padding-left: 30px;
  }
  
  .span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .card-btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .card-btn:hover {
    color: #fffcfc;
  }
  
  .card-btn:hover::before {
    left: 0;
    right: 0;
    opacity: 5;
  }



@media screen and (max-width: 740px) {
    .project-card {
        padding: 1rem;
        margin: 1rem 0.5rem;
        width: 100%; /* Make sure the card takes full width */
        box-sizing: border-box; /* Include padding in width */
    }

    .project-container{
        max-width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding-bottom: 3rem;
    }
    .project-title {
        font-size: 1.2rem;
    }

    .project-details p {
        font-size: 0.9rem;
    }

    .project-btn {
        flex-direction: column;
        align-items: center;
    }

    .project-btn .btn {
        padding: 0.8rem 1rem;
        width: 100%; /* Make buttons take full width on smaller screens */
        text-align: center;
    }



.card-btn {
    background: #5d19c3;
    border: 0.5px solid white;
    padding: 12px ;
    padding-left: 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    margin: 1.5rem;
  }
  
  .span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .card-btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .card-btn:hover {
    color: #fffcfc;
  }
  
  .cardbtn:hover::before {
    left: 0;
    right: 0;
    opacity: 5;
  }


}